* {
	font-family: monospace;
}

.fa {
  padding: 10px;
  font-size: 15px;
  width: 25px;
  height:25px;
  max-height:25px;
  text-align: center;
  text-decoration: none;
}

.money {
    color:green;
    font-size:15px;
}

.fa img {
    width:100%;
}

.fa:hover {
  cursor: pointer;
}

input {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

label {
    padding-top: calc(.375rem + 1px);
    padding-bottom: calc(.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
}

.center {
    text-align:center;
}

.center-card {
    position:absolute;
    z-index:999;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    height:300px;
    width:500px;
    padding:100px;
    background-color:#f0f3f5;
    border-radius:20px;
    border-color: black;
    border-width:2px;
    border-style:solid;
    filter: drop-shadow(5px 5px 5px);
}

.center-card div {
    position:absolute;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width:80%;
    left: 0;
    right: 0;
    top:50%;
    transform: translateY(-50%);
}

#winningText {
	position:absolute;
	top:90%;
	left: 50%;
	transform: translate(-50%, -50%);
	color:#292b2e;
	font-size: 100px; 
	font-family: Monospace;  
	z-index: 999;
}
.button-like {
	font-size:25px;
	height:100px;
	width:100px;
	margin-left:20px;
	margin-right:20px;
	text-align: center;
	border-width:0;
	background-color: #e6e8eb;
	color:#292b2e;
	filter: drop-shadow(1px 1px 1px);
}

#select p {
	color:#292b2e;
	font-size: 35px;
}

#select button {
    height:50px;
    width:100px;
    font-size:30px;
	transition: transform 50ms ease-in-out;
}

#select > button:hover {
	cursor: pointer;
	transform: rotate(15deg);
	transform: scale(1.1);
}

.no-move * {
    word-wrap:break-word;
    overflow: hidden;
}

.middle {
    margin-left:auto;
    margin-right:auto;
}
